<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Olivos Restaurant" />
        <meta name="keywords" content="Restaurant, restaurant, Restaurante, restaurante, Olivo, olivo, Olivos, Olivos" />
        <met400px !important;="viewport" content="width=device-width, initial-scale=1.0" />
        /*<link rel="icon" type="image/x-icon" href="/Agregar ubcacion/icono">
        <title>@yield('Titulo', 'Universidad Tecnológica de Nayarit')</title>
        @yield('estilos')
        <link rel="stylesheet" type="text/css" href="Estilos/Plantilla.css">
    </head>
    <header>
        <nav>
            <h1>Universidad Tecnológica de Nayarit</h1>
            <h3>Gestor de estacionamiento</h3>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/registro">Registro</a></li>
                <li><a href="/incio_sesion">Inicio de sesión</a></li>
                <li><a href="/provedores">Sugerencias</a></li>
            </ul>
        </nav>
    </header>
    <body>
        @yield('contenido')
    </body>
    <footer>
        <p>Dirección: Av.México #234, Colonia Centro</p>
        <p>Teléfono: (322) 345-6754</p>
        <p>Correo electrónico:  <a href="mailto:contact@olivos.com">LosOlivos@gmail.com</a></p>
    </footer>
</html>